{% extends 'index.html' %}
<!--Head Block-->
{% block head %}
<title>Todo List - Home</title>
{% endblock %}
{% block body %}
<div class="w-full flex flex-col items-center justify-center">
    <form method="post" id="add_task"
        class="flex items-center justify-center w-full  md:w-340 bg-card p-2 md:p-4 rounded-md shadow-md">
        <input type="text" name="todo_input" id="todo_input" placeholder="Escreva aqui ..."
            class="w-full h-full outline-none border-none bg-transparent text-black placeholder:text-gray-500 text-lg font-semibold">
        <button
            class="px-3 py-1 outline-none border-none text-white text-base font-semibold rounded-md bg-emerald-400 active:scale-75 transition-all duration-200 ease-out"
            type="submit"> Add
        </button>
    </form>

    <div class="w-full md:w-656 mt-12 p-2 rounded-md border-2 border-card">
        <div></div>
        <div class="w-full items-center flex justify-center flex-col">
            <p class="text-2xl text-gray-500 font-semibol capitalize tracking-wide mb-3">
                No tasks yet
            </p>
            <img src="{{url_for('static', filename='dist/img/nodata.svg')}}" alt="" class="w-225">

        </div>

    </div>
</div>

{% endblock %}