<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <link href="{{url_for('static', filename='dist/css/styles.css')}}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header class="w-full flex items-center shadow-md px-8 md:px-32 py-2 md:py-8">
        <p class="text-3xl text-white font-semibold">ToDo: List
        </p>
    </header>

    <main class="w-full flex flex-col px-8 md:px-32 py-2 md:py-8">
        {% block body %}
        {% endblock %}
    </main>

</body>

</html>